{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea name="body" id="body" class="form-control">{{ request.form['body'] }}</textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Select some images:</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock %}
