
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="#">New</a>
  {% endif %}
{% endblock %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for post in posts %}
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ post.title }}</title>
                <rect width="100%" height="100%" fill="#ffffff"></rect>
                
                <image xlink:href="../static/images/quantori_logo_blog.png" width="100%" height="100%" />
              </svg>

              <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <div class="about">by {{ post.username }} on {{ post.created.strftime('%Y-%m-%d') }}</div>
                {% set max_chars = 100 %}
                {% set truncated_body = post.body[:max_chars] %}
                <p class="card-text">
                  {{ truncated_body }}
                  {% if post['body']|length > max_chars %}
                  <a href="#">Read More</a>
                  {% endif %}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% if g.user and g.user.id == post.author_id %}
                    <a href="#" class="btn btn-sm btn-outline-secondary">Edit</a>
                    {% endif %}
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <hr>
      </div>
    </div>
{% endblock %}